body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(50deg, aqua, yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 98%;
  padding: 10px;
  margin-top: 10px;
  background: #28a745;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background: #218838;
}
#create-btn {
  background: none;
  color: #007bff;
}
#create-btn:hover {
  background: #eeeeee;
}
#logout-btn {
  background: #a72828;
}
#logout-btn:hover {
  background: #811f1f;
}

#register-container {
  display: none;
}
